* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-decoration: none;
}
body {
  background: url(img/pattern.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
main {
  background: #0e1525;
  height: 100vh;
  padding: 0 20px;
  overflow: auto;
}
.profil-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profil-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-top: 20px;
}
.profil-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 10px 0;
}
.box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.box-link a {
  text-align: center;
  background: #0053a6;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #fff;
}
.box-link a:hover {
  background: #0079f2;
}
.box-link i {
  background: #0e1525;
  color: #fff;
  padding: 5px;
  padding-left: 4px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.box-link img {
  background: #0e1525;
  width: 25px;
  border-radius: 5px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}
.box-link .art {
  background: #fff;
}
.box-link .convt {
  margin-bottom: 70px;
}
